.justifyCont {
    text-align: justify;
    text-justify: inter-word;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-video {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    max-height: 100%;
}

.content-logo {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
}

.colorLG {
    color: #C8135C;
}

.center {
    text-align: center;
}

.contacto {
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #C8135C;
    color: #ffffff;
}

.ubicacion {
    width: 400px;
    height: 300px;
    border:0;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    border: 1px solid #fff;
    padding: 5px;
    box-shadow: 5px 10px 8px #888888;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    color: #fff;
}

@media (max-width: 1200px) {
    .header {
        height: 70vh;
    }

    .header-video {
        height: 70%;
    }

    .pagos {
        width: 450px;
        height: 100px;
    }
}

@media (max-width: 992px) {
    .content-logo {
        width: 125px;
        height: 61px;
    }

    .ubicacion {
        width: 350px;
        height: 250px;
    }

    .pagos {
        width: 350px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 60vh;
    }

    .header-video {
        height: 60%;
    }

    .ubicacion {
        width: 350px;
        height: 250px;
    }

    .pagos {
        width: 350px;
        height: 90px;
    }
}

@media (max-width: 576px) {
    .header {
        height: 40vh;
    }

    .header-video {
        height: 40%;
    }

    .ubicacion {
        width: 300px;
        height: 250px;
    }

    .pagos {
        width: 300px;
        height: 100px;
    }

    .content-logo {
        width: 63px;
        height: 31px;
    }
}