.colorLG {
    color: #C8135C;
}

.center {
    text-align: center;
}

.contacto {
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #C8135C;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 100%;
    height: 500px;
}