* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.content {
    max-width: 33Rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    max-height: 100%;
}

.header-content {
    z-index: 1;
}

.header-content h2 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 2rem;
    display: block;
    padding-bottom: .5rem;
}

.colorLG {
    color: #C8135C;
}

.center {
    text-align: center;
}

.contacto {
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #C8135C;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.logoLG {
    width: 30%;
    height: 30%;
}

.map {
    width: 500px;
    height: 400px;
    border:0;
}

@media (max-width: 500px) {
    .content {
        padding: 0 3rem 0 3rem;
    }
    .header-content h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .header-content p {
        font-size: 1rem;
        display: block;
        margin: 0;
    }

    .map {
        width: 90vw;
        height: 250px;
        border:0;
    }
}